<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Plateforme de Signalement{% endblock %}</title>
    <!-- Ajoutez vos fichiers CSS ici -->
    
</head>
<body>
    <header>
        <nav>
           
        </nav>
    </header>

    <main>
        {% block content %}
        <!-- Le contenu spécifique à chaque page sera inséré ici -->
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2023 Plateforme de Signalement. Tous droits réservés.</p>
    </footer>

    <!-- Ajoutez vos fichiers JavaScript ici -->
    
</body>
</html>